<div class="login-div d-flex align-items-center h-100 h-login">
	<div class="login-card h-100 d-flex flex-column justify-content-center">
		<div class="card-title">
			<p class="login-text">{{ language.login | uppercase }}</p>
			<p class="login-description">{{ language.signin_message }}</p>
		</div>
		<div class="input d-flex">
			<img src="assets/login-page/avatar.png" alt="" />
			<input
				type="text"
				placeholder="{{ language.username }}"
				[(ngModel)]="username"
			/>
		</div>
		<div class="input d-flex">
			<img src="assets/login-page/password.png" alt="" />
			<input
				type="password"
				placeholder="{{ language.password }}"
				[(ngModel)]="password"
			/>
		</div>
    <mat-checkbox color="primary">Keep me signed in</mat-checkbox>
    <mat-card-actions class="d-flex justify-content-center mx-0">
      <button mat-raised-button class="login-button w-100" (click)="login()">{{language.login | titlecase}}</button>
    </mat-card-actions>
	</div>
<!--  <div class="stretch"></div>-->
	<div class="image">
		<img src="assets/login-page/background.png" alt="" />
	</div>
<!--  <div class="stretch"></div>-->
</div>
<div *ngIf = "showLoader" class="spinner"></div>
