<div class="toolbar shadow">
  <div class="logo align-self-stretch px-0 py-0 d-flex" style="font-size: 17px; height: 52px;">
    <span class="mr-auto my-auto ml-3"
          style="height: 17px; font-size: 17px;">{{language.facility_health_center}}</span>
  </div>
</div>
<div class="container-fluid health-worker-container">
  <h2 class="m-0 px-2 py-3">{{this.isAddWorker ? language.add_worker : language.update_worker | uppercase}}</h2>
  <!--  FIXME add page nav-->
  <div class="px-2 d-flex">
    <div class="page-nav" [ngClass]="{'active-page':pageNumber===1}">1</div>
    <mat-divider class="page-nav-separator"></mat-divider>
    <div class="page-nav" [ngClass]="{'active-page':pageNumber===2}">2</div>
    <mat-divider class="page-nav-separator"></mat-divider>
    <div class="page-nav" [ngClass]="{'active-page':pageNumber===3}">3</div>
  </div>
  <div class="mt-2">
    <div *ngIf="pageNumber===1" class="form-block pb-3">
      <h4 class="px-2 py-3 text-muted form-header my-0">{{language.personal_details}}</h4>
      <div class="p-2">
        <input type="text" class="input-group input-border px-2" placeholder="{{language.first_name}}"
               [(ngModel)]="healthWorkerData.first_name" [formControl]="nameControl">
      </div>
      <div class="p-2">
        <input class="input-group input-border px-2" placeholder="{{language.last_name}}"
               [(ngModel)]="healthWorkerData.last_name" [formControl]="lastNameControl">
      </div>
      <div class="p-2">
        <div class="d-flex justify-content-between input-border">
          <!--          <input type="text" class="input-group input-border px-2" >-->
          <input class="px-2 input-group border-0" placeholder="{{language.date_of_birth}}"
                 [matDatepicker]="picker"
                 [min]="minWorkerDOB"
                 [max]="maxWorkerDOB"
                 [formControl]="dateCtrl"
                 [(ngModel)]="healthWorkerData.date_of_birth"
          >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
        </div>
      </div>
      <div class="p-2">
        <input type="email" class="input-group input-border px-2" placeholder="{{language.email}}"
               [(ngModel)]="healthWorkerData.email" [formControl]="emailFormControl">
      </div>
      <div class="p-2 custom-input-styling">
        <input type="tel" maxlength="10" class="input-group input-border px-2" placeholder="{{language.phone_no}}"
               [(ngModel)]="healthWorkerData.phone_number" [formControl]="phoneNumberControl"
               [class.invalid-field]="isPhoneNotValid" (keyup)="isPhoneNotValid = !phoneNumberControl.valid">
      </div>
      <div class="p-2 custom-input-styling">
        <input type="tel" maxlength="10" class="input-group input-border px-2" placeholder="{{language.whatsapp}}"
               [(ngModel)]="healthWorkerData.whatsapp_number" [formControl]="whatsAppNumberControl">
      </div>
      <mat-checkbox class="d-block px-2 pt-2 custom-input-styling-for-checkbox"
                    style="opacity: 1 !important; color: #757575; font-size: 14px"
                    [(ngModel)]="isMobileAndWhatsappSame"
                    (change)="checkForWhatsappNumber()"
      >{{language.same_as_mobile_number}}</mat-checkbox>
    </div>
    <div *ngIf="pageNumber===2" class="form-block pb-3">
      <h4 class="px-2 py-3 text-muted form-header my-0">{{language.employment_details}}</h4>
      <div class="p-2">
        <input class="input-group input-border px-2" placeholder="{{language.employee_id}}"
               [(ngModel)]="healthWorkerData.employee_id" [formControl]="employeeIdControl">
      </div>
      <mat-form-field appearance="outline" class="p-2 w-100">
        <mat-label>{{language.group}}</mat-label>
        <mat-select [formControl]="groupCtrl" multiple>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <div class="">
        <input class="input-group input-border px-2" placeholder="{{language.facility}}" [(ngModel)]="healthWorkerData.facility_id">
      </div> -->
      <mat-form-field appearance="outline" class="p-2 w-100 hcw-type-control">
        <!--          <input class="input-group input-border px-2" placeholder="{{language.hcw_type_id}}" [(ngModel)]="healthWorkerData.hcw_type_id">-->
        <input matInput
               [placeholder]="language.hcw_type_id"
               aria-label="hcw_type_id"
               [matAutocomplete]="auto"
               [formControl]="hcwTypeIdControl">
        <button mat-button matSuffix mat-icon-button
                aria-label="Clear" (click)="clearhcwTypeIdControl(); $event.stopPropagation()">
          <mat-icon>&times;</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let hwcType of filteredHWCtypes | async" [value]="hwcType.hcw_type_name"
                      (click)="saveHwc(hwcType.id)">
            <span>{{hwcType.hcw_type_name}}</span>
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
      <div class="p-2">
        <input class="input-group input-border px-2" placeholder="{{language.department}}"
               [(ngModel)]="healthWorkerData.department">
      </div>
    </div>
    <div *ngIf="pageNumber===3" class="form-block pb-3 ">
      <h4 class="px-2 py-3 text-muted form-header my-0">{{language.health_history}}</h4>
      <div class="p-2">
        <mat-form-field appearance="outline" class="pt-1 px-2 w-100">
          <mat-label>{{language.chronic_disease}}</mat-label>
          <mat-select [formControl]="illnessCtrl" multiple>
            <mat-option *ngFor="let chronicIllness of chronicIllnesses"
                        [value]="chronicIllness.id">{{chronicIllness.illness_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-2">
        <mat-form-field appearance="outline" class="pt-1 px-2 w-100">
          <mat-label>{{language.immunodeficiency}}</mat-label>
          <mat-select [formControl]="immunoCtrl" multiple>
            <mat-option *ngFor="let illness of immuneDefeciency"
                        [value]="illness.id">{{illness.deficiency_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="form-action py-3 px-3 mb-4 d-flex justify-content-around" style="position: relative;">
  <button *ngIf="pageNumber===1" class="button-default mx-2 button-cancel"
          (click)="cancel()">{{language.cancel}}</button>
  <button *ngIf="pageNumber!==1" class="button-default mx-2 button-next"
          (click)="prevPage()">{{language.previous}}</button>
  <button *ngIf="pageNumber!==3" class="button-default mx-2 button-next"
          (click)="nextPage()">{{language.next}}</button>
  <button *ngIf="pageNumber===3" class="button-default mx-2 button-next"
          (click)="submitDetails()">{{this.isAddWorker ? language.add_worker : language.update_worker}}</button>
</div>
